
h2, a:link, a:visited, a:hover, a:active {
color: #DC143C; 
}
.hatter{
    background-color: #F0F8FF;
}.tablazat{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.d {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
body{background-color: #DC143C;}
.kep{width: 230px;
height: 153px;}
.kep2{
    width: 230px;
    height: 153px;
    border:1px;
   
}